<html>
<head>
<title>Amazon AWS API Gateway Endpoint (beta)</title>
</head>
<body>

<h3>Nothing here</h3>
<ul>
<li><a href='/listbuckets'>List S3 Buckets</a></li>
</ul>

some value {{someValue}}

{{{body}}}

</body>
</html>